.feedback {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.feedback button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  background-color: #e9e9e9;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border: 1px solid #cccccc;
}

.feedback button:hover {
  background-color: #d9d9d9;
}

.feedback button:active {
  background-color: #c9c9c9;
}